devusername='weblogic'
devpassword='weblogic'
devadminUrl='t3://localhost:7001'

devretaildeploymentName='PortalAdapterWSEAR'
devretaildeploymentFile='/FS/bea/bea/user_projects/domains/portal/servers/AdminServer/upload/PortalAdapterWSEAR.ear'
devretaildeploymentTarget='Server_Retail'

devrtrdeploymentName='PortalAdapterRTRWSEAR'
devrtrdeploymentFile='/FS/bea/bea/user_projects/domains/portal/servers/AdminServer/upload/PortalAdapterRTRWSEAR.ear'
devrtrdeploymentTarget='Server_RTR'

devinqdeploymentName='PortalAdapterINQWSEAR'
devinqdeploymentFile='/FS/bea/bea/user_projects/domains/portal/servers/AdminServer/upload/PortalAdapterINQWSEAR.ear'
devinqdeploymentTarget='Server_INQ'

devmhodeploymentName='PortalAdapterMHOWSEAR'
devmhodeploymentFile='/FS/bea/bea/user_projects/domains/portal/servers/AdminServer/upload/PortalAdapterMHOWSEAR.ear'
devmhodeploymentTarget='Server_MHO'
